<h1>Crear Role</h1>
<% if(typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error.msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="close"
  ></button>
</div>
<% }) %> <% } %>
<form action="/roles" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<% if(typeof value !='undefined') { %> <%= value.name %> <% } %>"
    />
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>

<%- contentFor('title') %> Crear Rol
